### Author:  Runge
### Version: clang-format@19.0.0git

---
BasedOnStyle: LLVM
IndentWidth: 2
---
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right # v13
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Leave
# BreakAfterReturnType: #v19
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
# BreakTemplateDeclarations: MultiLine #v19
ColumnLimit: 120
CommentPragmas: '^nobreak:'
CompactNamespaces: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
EmptyLineAfterAccessModifier: Never # v13
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IfMacros: # v13
  - 'Runge_If'
IncludeBlocks: Regroup
IndentAccessModifiers: false # v13
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequiresClause: true # v15
IndentWidth: 2
IndentWrappedFunctionNames: true
InsertBraces: true # v15
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  Hex: 0
KeepEmptyLinesAtTheStartOfBlocks: false # v13
LambdaBodyIndentation: Signature # v13
Language: Cpp
LineEnding: DeriveLF
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
# penalties
PenaltyBreakAssignment: 5
PenaltyBreakBeforeFirstCallParameter: 5
PenaltyBreakComment: 10
PenaltyBreakOpenParenthesis: 20
PenaltyBreakScopeResolution: 100 # really shall not break after ::!
PenaltyBreakString: 5
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 30
PenaltyReturnTypeOnItsOwnLine: 10
PPIndentWidth: 2 # v13
PackConstructorInitializers: CurrentLine # v14
PointerAlignment: Left
QualifierAlignment: Custom # v14
QualifierOrder: # v14
  - constexpr
  - inline
  - friend
  - static
  - type
  - const
  - volatile
ReferenceAlignment: Left # v13
RemoveBracesLLVM: false # v14
RemoveSemicolon: true
RequiresClausePosition: OwnLine # v15
RequiresExpressionIndentation: Keyword
SeparateDefinitionBlocks: Leave # v14
ShortNamespaceLines: 0 # v13
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions: # v14
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
  BeforeNonEmptyParentheses: false
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 1
SpacesInAngles: Always
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix: # v13
  Maximum: 1
  Minimum: 1
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InEmptyParentheses: true
  InCStyleCasts: false
  Other: true
SpacesInSquareBrackets: true
Standard: Latest
StatementMacros:
  - SL_expr_equiv
  - SL_expr_equiv_bare
  - SL_expr_equiv_declval
  - SL_expr_equiv_no_ret
  - SL_define_binary_op
  - SL_lambda_binary_operator
  - SL_lambda_unary_operator
  - SL_define_unary_op
  - SL_define_unary_member_op
  - SL_lambda_member_variadic_op
  - SL_lambda_member_binary_op
  - SL_lambda_member_binary_op_named
  - SL_lambda_member_cast_op_named
  - SL_lambda_member_unary_op_named
UseTab: Never
